@using Proyecto_Aerolinea.Web.DTOs
@model Proyecto_Aerolinea.Web.Core.Pagination.PaginationResponse<Proyecto_Aerolinea.Web.DTOs.AirportDTO>

@{
    ViewData["Title"] = "Aeropuertos";
}

<div class="page-title dark-background aos-init aos-animate" data-aos="fade" style="background-image: url(assets/img/travel/showcase-8.webp);">
    <div class="container position-relative">
        <h1>Aeropuertos</h1>
        <p>Lista de los aeropuertos</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Aeropuertos</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Tabla de Aeropuertos -->
@if (Model.List.Count == 0)
{
    <p>No hay aeropuertos disponibles.</p>
}
else
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>AirportId</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>País</th>
                <th>IATA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var airport in Model.List)
            {
                <tr>
                    <td>@airport.Id</td>
                    <td>@airport.AirportName</td>
                    <td>@airport.AirportCity</td>
                    <td>@airport.AirportCountry</td>
                    <td>@airport.IATACode</td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Paginación -->
@if (Model.TotalPages > 1)
{
    <div class="pagination mt-4">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("Index", "Airports", new { pageNumber = i, pageSize = Model.RecordsPerPage, filter = Model.Filter })"
               class="btn btn-link @((i == Model.CurrentPage) ? "active" : "")">
                @i
            </a>
        }
    </div>
}