@model PaginationResponse<FlightDTO>

@{
    ViewData["Title"] = "Vuelos";
}

<div class="page-title dark-background aos-init aos-animate" data-aos="fade" style="background-image: url(assets/img/travel/showcase-8.webp);">
    <div class="container position-relative">
        <h1>Vuelos</h1>
        <p>Lista de vuelos</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="current">Tours</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <h3 class="m-0 font-weight-bold text-primary col-md-11">Vuelos Disponibles</h3>
            <div class="col-md-1">
                <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body mt-3">

        <form asp-action="Available" class="navbar-search" method="get">
            <input type="hidden" name="Page" value="@Model.CurrentPages"></input>

            <div class="row mt-3">
                <div class="col-md-2">
                    <select name="RecordPerPages" class="form-select bg-light border-0 small" asp-for="RecordsPerPages">
                        <option value="5" selected="@(Model.RecordsPerPages == 5)">5</option>
                        <option value="15" selected="@(Model.RecordsPerPages == 15)">15</option>
                        <option value="30" selected="@(Model.RecordsPerPages == 25)">30</option>
                        <option value="40" selected="@(Model.RecordsPerPages == 35)">40</option>
                        <option value="50" selected="@(Model.RecordsPerPages == 50)">50</option>
                    </select>
                </div>

                <div class="col-md-10">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control bg-light border-0 small" asp-for="Filter"
                        placeholder="Buscar..." aria-label="search"
                        />
                        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Fecha de salida</th>
                    <th>Fecha de llegada</th>
                    <th>Estado</th>
                    <th>Aeropuerto de origen</th>
                    <th>Aeropuerto de destino</th>
                    <th>Avión</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model.List)
                {
                    <tr>
                        <td>@flight.Id</td>
                        <td>@flight.FlightCode</td>
                        <td>@flight.DepartureDateTime</td>
                        <td>@flight.ArrivalDateTime</td>
                        <td>@flight.Status</td>
                        <td>@flight.OriginAirport</td>
                        <td>@flight.DestinationAirport</td>
                        <td>@flight.Aircraft</td>
                        <td>
                            <a asp-action="Edit" asp-route-Id="@flight.Id" class="btn btn-sm btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <form asp-action="Delete" asp-route-Id="@flight.Id" style="display: contents;">
                                <button class="btn btn-sm btn-danger btnDelete">
                                    <i class="bi bi-trash-fill" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Eliminar"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ol class="pagination justify-content-center">
                @* Primero *@
                <li class="page-item">
                    <a class="page-link @(Model.CurrentPages == 1 ? "disabled" : "")" asp-action="Available"
                        asp-route-Pages="1"
                        asp-route-RecordsPerPages="@Model.RecordsPerPages"
                        asp-route-Filter="@Model.Filter"
                    >
                        <i class="bi bi-chevron-double-left"></i>
                    </a>
                </li>

                @* Anterior *@
                <li class="page-item">
                    <a class="page-link @(!Model.hasPrevious ? "disabled" : "")" asp-action="Available"
                        asp-route-Pages="@(Model.CurrentPages - 1)" asp-route-RecordsPerPages="@Model.RecordsPerPages"
                        asp-route-Filter="@Model.Filter"
                    >
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>

                @* Paginas *@
                @foreach(int page in Model.Pages)
                {
                    <li class="page-item">
                        <a class="page-link @(Model.CurrentPages == page ? "disabled" : "")" asp-action="Available"
                           asp-route-Pages="@(page)" asp-route-RecordsPerPages="@Model.RecordsPerPages"
                           asp-route-Filter="@Model.Filter"
                        >
                           @(page)
                        </a>
                    </li>                    
                }

                @* Next *@
                <li class="page-item">
                    <a class="page-link @(!Model.hasNext ? "disabled" : "")" asp-action="Available"
                        asp-route-Pages="@(Model.CurrentPages + 1)"
                        asp-route-RecordsPerPages="@Model.RecordsPerPages"
                        asp-route-Filter="@Model.Filter"
                    >
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>

                @* Ultimo *@
                <li class="page-item">
                    <a class="page-link @(Model.CurrentPages == Model.TotalPages ? "disabled" : "")" asp-action="Available"
                        asp-route-Pages="@Model.TotalPages"
                        asp-route-RecordsPerPages="@Model.RecordsPerPages"
                        asp-route-Filter="@Model.Filter"
                    >
                        <i class="bi bi-chevron-double-right"></i>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $(".btnDelete").click(function(event){
                event.preventDefault();

                Swal.fire({
                icon: "question",
                title: "Advertencia",
                text: "Si eliminas el vuelo no podra revertirse el cambio",
                showCancelButton: true
                }).then((result) => {
                    if (result.IsConfirmed){
                        const form = $(this).closest("form");
                        form.submit();
                    }
                });

            });
        });
    </script>
}