@model PaginationResponse<FlightDTO>

@{
    ViewData["Title"] = "Vuelos";
}

<div class="page-title dark-background aos-init aos-animate" data-aos="fade" style="background-image: url(assets/img/travel/showcase-8.webp);">
    <div class="container position-relative">
        <h1>Vuelos</h1>
        <p>Lista de vuelos</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="current">Tours</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <h3 class="m-0 font-weight-bold text-primary col-md-11">Vuelos Disponibles</h3>
            <div class="col-md-1">
                <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Fecha de salida</th>
                    <th>Fecha de llegada</th>
                    <th>Estado</th>
                    <th>Aeropuerto de origen</th>
                    <th>Aeropuerto de destino</th>
                    <th>Avión</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model.List)
                {
                    <tr>
                        <td>@flight.Id</td>
                        <td>@flight.FlightCode</td>
                        <td>@flight.DepartureDateTime</td>
                        <td>@flight.ArrivalDateTime</td>
                        <td>@flight.Status</td>
                        <td>@flight.OriginAirport</td>
                        <td>@flight.DestinationAirport</td>
                        <td>@flight.Aircraft</td>
                        <td>
                            <a asp-action="Edit" asp-route-Id="@flight.Id" class="btn btn-sm btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <form asp-action="Delete" asp-route-Id="@flight.Id" style="display: contents;">
                                <button class="btn btn-sm btn-danger btnDelete">
                                    <i class="bi bi-trash-fill" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Eliminar"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $(".btnDelete").click(function(event){
                event.preventDefault();

                Swal.fire({
                icon: "question",
                title: "Advertencia",
                text: "Si eliminas el vuelo no podra revertirse el cambio",
                showCancelButton: true
                }).then((result) => {
                    if (result.IsConfirmed){
                        const form = $(this).closest("form");
                        form.submit();
                    }
                });

            });
        });
    </script>
}