@model List<TicketDTO>

<div class="page-title dark-background aos-init aos-animate" data-aos="fade" style="background-image: url(assets/img/travel/showcase-8.webp);">
    <div class="container position-relative">
        <h1>Vuelos</h1>
        <p>Lista de vuelos</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="current">Ticket</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card mt-3">

    <div class="card-header">
        <h2 class="text-primary">Ticket</h2>
    </div>

    <div class="card-body">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Passenger Id</th>
                    <th>Price</th>
                    <th>Seat Assigment</th>
                    <th>Reservation</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var Ticket in Model)
                {
                    <tr>
                        <td>@Ticket.PassengerId</td>
                        <td>@Ticket.Price</td>
                        <td>@Ticket.SeatAssignment</td>
                        <td>@Ticket.Reservation</td>
                        <td>
                            <a asp-action="Details" asp-route-TicketDTO="@Ticket"><i class="btn bi-plus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>